$black: #111;
$light-grey: #fafafa;

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&display=swap');

header {
    text-align: center;
    padding: 56px;
    background-color: $light-grey;

    h1 {
        font-size: 36px;
        clear: both;
        font-family: "Open Sans Condensed", sans-serif;
        font-weight: bold;
        text-transform: uppercase;

        a {
            color: $black;
            text-decoration: none;
        }
    }
}

body {
    margin: 0;
}